
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/*--reset--*/

@media only screen and (min-width: 1px) {

    * {
        padding: 0;
        margin: 0;
        border: 0;
        cursor: default;
        user-select: none;
    }
    
    *, 
    *:before, 
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    :focus,
    :active,
    a:focus,
    a:active{
        outline:none;
    }
    
    nav,
    footer,
    header,
    aside {
        display: block;
    }
    
    html,body{
        height: 100%;
        width: 100%;
        font-size: 100%;
        line-height: 1;
        font-size: 14px;
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }
    
    input,
    button,
    textarea {
        font-family:inherit;
    }
    
    input::-ms-clear {
        display: none;
    }
    
    button {
        cursor: pointer;
    }
    
    button::-moz-focus-inner {
        padding:0;border:0;
    }
    
    a, 
    a:visited {
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    ul li {
        list-style: none;
    }
    
    img {
        vertical-align: top;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size:inherit;font-weight: 400;
    }

  }

/*--variable colors--*/

:root {
    --main: #D8D4F2;
    --light: #EAE6E5;
    --accent: #EB4511;
    --secondaccent: #4D7EA8;
    --darkaccent: #0F1108;
}

/*--general--*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--light);
}

.calculator {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
}

/*--calculator--*/

.calculator__wrapper {
    min-width: 300px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--main);
    padding: 1.5rem;
    justify-content: center;
    align-items: space-around;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.185);
}

.calculator__display {
    display: flex;
    width: 100%;
    height: 45px;
    background-color: var(--light);
    border-radius: 3px;
    border: 1px var(--darkaccent) solid;
}

.calculator__input {
    background-color: var(--light);
}

.calculator__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

.clear {
    grid-column: 2 / -1;
}

.calculator__operators {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.button,
.operator {
    background-color: var(--accent);
    color: var(--darkaccent);
    padding: 0.3rem;
    border-radius: 5px;
    cursor: pointer;
    border: 2px var(--light) solid;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.185);
}

.button:active,
.operator:active {
    scale: 0.97;
}
